<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot - Онлайн-трансляции</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <script src="../Static/JS/index.js"></script>
    <style>
        /* Свойства стиля элемента. */
        .block {
            border: 2px solid black;
            background-color:azure;
            padding: 10px;
        }
        .video-container {
            display: flex;
            flex-wrap: wrap;
        }
    </style>
</head>
<body>
    <!-- Хедер страницы -->
    <header id="header-index">
        <!--Заголовок страницы-->
        <h1>LifeSpot - прямые трансляции с улиц</h1>
        <!--Параграф-->
        <div class="bordered">
            <p>Покажем, что происходит прямо сейчас</p>
        </div>        
        <!-- Поле для поиска -->
        <input type="text" id="search" placeholder="Поиск видео..." oninput="
        let inputString = document.getElementById('search').value.toLowerCase();
        let figures = document.querySelectorAll('.video-container figure');
        figures.forEach(figure => {
            let videoText = figure.querySelector('figcaption').innerText.toLowerCase();
            if (!videoText.includes(inputString)) {
                figure.style.display = 'none';
            } else {
                figure.style.display = 'inline-block';
            }
        });
    ">    
    </header>
    <!-- Сайд-бар страницы -->
    <!--SIDEBAR-->
    <!-- Контейнер с видео -->
    <div class="video-container">
        <figure>
            <!-- Russia -->
            <iframe src="https://www.youtube.com/embed/h1wly909BYw" allowfullscreen></iframe>
            <figcaption>Russia - St. Petersburg</figcaption>
            <button onclick="window.location.href='https://www.youtube.com/watch?v=h1wly909BYw'">Смотреть на YouTube</button>
        </figure>
        <figure>
            <!-- Italy -->
            <iframe src="https://www.youtube.com/embed/K_Vg94nBiaY" allowfullscreen></iframe>
            <figcaption>Italy - Venice</figcaption>
            <button onclick="window.location.href='https://www.youtube.com/watch?v=K_Vg94nBiaY'">Смотреть на YouTube</button>
        </figure>
        <figure>
            <!-- Namibia -->
            <iframe src="https://www.youtube.com/embed/ydYDqZQpim8" allowfullscreen></iframe>
            <figcaption>Namibia - Desert</figcaption>
            <button onclick="window.location.href='https://www.youtube.com/watch?v=ydYDqZQpim8'">Смотреть на YouTube</button>
        </figure>
    </div>
    <!-- Футер страницы -->
    <!--FOOTER-->
</body>
</html>
